body {
  background: #eee;
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.btn {
  color: #fff;
  background: red;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.content {
  max-width: 900px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product {
  background: #fff;
  padding: 3px;
  box-sizing: border-box;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.product img {
  display: block;
  width: 100%;
  height: auto;
}

.product__name {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.1;
  margin: 0;
}
